/* --------------------宽屏适配-------------------- */
.layout {
  max-width: 1400px;
}

.aside-content{
  max-width:312px;
  min-width:300px;
}

@media screen and (max-width: 900px){
  .aside-content{
      max-width:none!important;
  }
}

/* --------------------翻页按钮居中-------------------- */
#pagination {
  width: 100%;
  margin: auto;
}
/* --------------------文章上下页圆角样式-------------------- */
.pagination-post {
  border-radius: 8px;
}
/* --------------------一图化背景-------------------- */
/* 头图透明 */
#page-header{
  background: transparent!important;
}

/*头图黑色透明玻璃效果移除 */
/*#page-header.post-bg:before {*/
/*  background-color: transparent!important;*/
/*}*/

/*伪类遮罩层透明*/
#page-header::before{
  background: transparent!important;
}
/*footer透明*/
#footer{
  background: transparent!important;
  /*background: rgba(255, 255, 255, 0.8);*/
}
/* 夜间模式伪类遮罩层透明 */
[data-theme="dark"]
#footer::before{
  background: transparent!important;
}
[data-theme="dark"]
#page-header::before{
  background: transparent!important;
}
/* --------------------文章目录虚拟化-------------------- */
/* 文章目录 */
#aside-content #card-toc .toc-content {
  margin: 10px -18px;
}
#aside-content #card-toc .toc-content .toc-link.active {
  line-height: 1.2;
  border-radius: 12px;
  border-left-color: var(--heo-hovertext);
  background-color: var(--heo-card-bg);
  color: var(--heo-lighttext);
  font-weight: bold;
  font-size: 20px;
}
[data-theme=dark].toc .toc-item.active .toc-link .toc-text {
  color: var(--heo-white);
}
#aside-content #card-toc .toc-content .toc-item.active .toc-link {
  opacity: 1;
  border-radius: 8px;
}
#aside-content #card-toc .toc-content .toc-link {
  line-height: 1.2;
  padding: 8px;
  border-left: 0px solid transparent;
  border-radius: 12px;
  color: var(--heo-secondtext);
  cursor: default;
}
#aside-content #card-toc .toc-content .toc-link:not(.active) span {
  opacity: 0.6;
  cursor: pointer;
  filter: blur(1px);
  transition: 0.3s;
}
#aside-content #card-toc:hover .toc-content .toc-link:not(.active) span {
  filter: blur(0px);
  opacity: 1;
}
#aside-content #card-toc .toc-content .toc-link:not(.active) span:hover {
  color: var(--heo-lighttext);
}

/* --------------------版权卡片调整-------------------- */
/*版权卡片*/
#post .post-copyright {
  position: relative;
  margin: 2rem 0 0.5rem;
  padding: 1.5rem 0.8rem;
  border: 8px solid var(--HiPeach-copyright-border); /*卡片边框*/
  border-radius: 20px; /*边框圆角*/

  /*默认就是hover的样式*/
  -webkit-box-shadow: 0 0 8px 0 rgba(232,237,250,0.6), 0 2px 4px 0 rgba(232,237,250,0.5);
  box-shadow: 0 0 8px 0 rgba(232,237,250,0.6), 0 2px 4px 0 rgba(232,237,250,0.5);

}
#post .post-copyright:before {
  position: absolute;
  top: -1.9rem; /*C位置*/
  color: #49b1f540; /*C颜色*/
  font-size: 6rem; /*C大小*/
}
/* --------------------选中文字颜色调整-------------------- */
*::selection {
  background: rgba(90,135,255);
  color: #ffffff;
}
/* --------------------aplayer播放器样式-------------------- */
.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
  left: -66px !important;
  /* 默认情况下缩进左侧66px，只留一点箭头部分 */
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
  left: 0 !important;
  /* 鼠标悬停是左侧缩进归零，完全显示按钮 */
}

