/* --------------------aplayer播放器样式-------------------- */
.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
    /* 默认情况下缩进左侧66px，只留一点箭头部分 */
    width: 48px !important;
    left: -66px !important;
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
    /* 鼠标悬停是左侧缩进归零，完全显示按钮 */
    left: 0 !important;
}

.aplayer-pic {
    border-radius: 2px 0 0 2px;
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    -ms-border-radius: 2px 0 0 2px;
    -o-border-radius: 2px 0 0 2px;
}

.aplayer.aplayer-fixed .aplayer-info {
    border: none !important;
}

.aplayer.aplayer-fixed {
    background-color: transparent !important;
}

.aplayer.aplayer-fixed .aplayer-list {
    border: none !important;
    background-color: var(--white);
    transform: translate(100px, -20px);
    width: 258px;
    border-radius: 2px;
    backdrop-filter: blur(10px);
    -webkit-transform: translate(100px, -20px);
    -moz-transform: translate(100px, -20px);
    -ms-transform: translate(100px, -20px);
    -o-transform: translate(100px, -20px);
}

[data-theme="dark"] .aplayer.aplayer-fixed .aplayer-list {
    background-color: var(--global-bg) !important;
}

.aplayer .aplayer-list li:hover {
    background-color: #9e9e9e5c !important;
}

.aplayer-list li {
    margin: 5px !important;
    border-radius: 5px;
    border: none !important;
    height: 28px !important;
    line-height: 28px !important;
}

.aplayer .aplayer-list ol li .aplayer-list-cur {
    height: 18px !important;
}

[data-theme="dark"] .aplayer .aplayer-list ol * {
    color: white !important;
}

.aplayer .aplayer-list ol li.aplayer-list-light {
    background-color: #9e9e9e5c !important;
}

.aplayer.aplayer-fixed .aplayer-body {
    padding-right: 0;
    bottom: 10px !important;
    left: 10px !important;
    background: #fffa !important;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 330px !important;
}

/* --------------------Twikoo评论样式-------------------- */
#twikoo .tk-content {
    background: rgb(235 235 235 / 30%);
    padding: 10px 15px;
    border-radius: 10px;
}

/*!* 主内容区 *!*/
.el-input.el-input--small.el-input-group.el-input-group--prepend::before {
    top: -54px;
}

/* --------------------首页飞机操作样式-------------------- */
.planeOpt button {
    cursor: pointer;
    font-family: inherit;
    font-size: 12px;
    background: #667AF2;
    color: white;
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.2s;
}

.planeOpt button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

.planeOpt button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

.planeOpt button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

.planeOpt button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.planeOpt button:hover span {
    transform: translateX(5em);
}

.planeOpt button:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}

/* --------------------文章加密插件样式-------------------- */
.hbe-input-field-xray,
.hbe-input-label-xray,
.hbe-input-field-xray:focus + .hbe-input-label-xray,
.input--filled .hbe-input-label-xray,
.hbe-input-field-shrink:focus + .hbe-input-label-shrink .hbe-input-label-content-shrink,
.input--filled .hbe-input-label-shrink .hbe-input-label-content-shrink {
    color: #667AF2 !important;
}

.hbe-graphic-xray,
.hbe-input-field-xray:focus ~ .hbe-graphic-xray,
.input--filled .graphic-xray {
    stroke: #667AF2 !important;
}

.hbe-input-field-shrink:focus + .hbe-input-label-shrink::after,
.input--filled .hbe-input-label-shrink::after {
    background: #667AF2 !important;
}

/* --------------------友链页推荐博客样式-------------------- */
#article-container .telescopic-site-card-group .site-card {
    width: calc(100% / 5 - 16px);
}


